
body {
  background-color: #dbdbdb;
  }
  * {
      box-sizing: border-box;
  }
  .menu {
      float: left;
      width: 200px;
      height: 100%;
  }
  .summary {
      width: auto;
  }
  
  .container {  
      display: grid; 
      padding-left: 5px; 
      grid-gap: 5px;  
      grid-template-columns: repeat(auto-fit, 300px);
      grid-template-rows: repeat(2, 320px);    
  }